In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn import cluster
import pandas as pd

#read csv 
train = pd.read_csv('data.csv')
test = pd.read_csv('test.csv')
submit = pd.read_csv('submit.csv')

#Drop the redundant data
train=train.drop(['id'],axis=1)
train=train.drop(['feature3'],axis=1)
train=train.drop(['feature4'],axis=1)
train=train.drop(['feature5'],axis=1)

#Data Standardize
train_std = StandardScaler().fit_transform(train)

#Clustering to 13 clusters
hclust = cluster.AgglomerativeClustering(linkage = 'ward', affinity = 'euclidean', n_clusters = 13).fit(train_std)
Clustering_result =  hclust.labels_

for i in range(test.shape[0]):
    cluster1 = Clustering_result[test.iloc[i,1]]
    cluster2 = Clustering_result[test.iloc[i,2]]
    if cluster1 == cluster2:
        submit.iloc[i,1] = '1'
    else:
        submit.iloc[i,1] = '0'

#output the result to csv
submit.to_csv('submit.csv',index=False)
submit

     index ans
0        0   0
1        1   0
2        2   0
3        3   0
4        4   0
..     ...  ..
395    395   0
396    396   0
397    397   0
398    398   0
399    399   0

[400 rows x 2 columns]